node_modules/
server/node_modules/

dist/
server/dist/
server/.wrangler/

.env
.env.*
!.env.example

server/.env
server/.env.*
!server/.env.example

server/.dev.vars
server/.dev.vars.*
!server/.dev.vars.example

.DS_Store
